html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root {
  width: 100%;
  height: 100%;
}

#main-div {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image {
  height: 96px;
  width: 96px;
}

.login-button {
  width: 60px;
  height: 30px;
  margin: 10px;
}

.main-class {
  margin: 10px;
  width: 150px;
  height: 150px;
}

.main-subclass {
  margin: 10px;
  width: 150px;
  height: 150px;
}

.main-page {
  padding: 50px;
  margin: 0 auto;
  display: grid;
  column-gap: 10px;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.row-main {
  width: 100%;
  letter-spacing: -0.31em;
}

.class-box-main,
.subclass-box-main,
.center-box {
  display: inline-block;
  vertical-align: top;
  border: 3px solid white;
  background-color: rgba(255, 255, 255, .2);

  padding: 5px;
  margin: 0 auto;
  letter-spacing: normal;
}

.class-box-main {
  grid-row: 1;
  grid-column: 1;
  width: 400px;
  margin-right: 0px;
}

.class-images {
  width: 340px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.subclass-box-main {
  grid-row: 1;
  grid-column: 3;
  width: 400px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subclass-images {
  width: 340px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.center-box {
  grid-row: 1;
  grid-column: 2;

  margin-top: 200px;
  width: 400px;
  height: 300px;
}

#class-text {
  color: black;
  font-size: 52px;
  text-align: center;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: white;
}

#subclass-text {
  color: black;
  font-size: 52px;
  text-align: center;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: white;
}

.column {
  float: left;
  width: 10%;
  padding: 5px;
}


/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

[type=radio]::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #000;
  /* replace with desired color */
  transform: rotate(45deg);
  /* apply rotation */
  margin-right: 8px;
  /* add spacing between checkbox and image */
}

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio]+img {
  cursor: pointer;
  outline: 2px solid #fff;
}

/* CHECKED STYLES */
[type=radio]:checked+img {
  outline: 2px solid #f00;
}

/* IMAGE STYLES */
[type=checkbox]+img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=checkbox]:checked+img {
  outline: 2px solid #f00;
}

/* HIDE CHECKBOX */
[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}